.dashboard-message,
.dashboard {
    padding-top: 60px;
}

/* -----------------------------------
	Google Map
----------------------------------- */

.map-section {
    padding-top: 40px;
}

#map {
    width: 100%;
    height: 600px;
}

#content-window-wrapper,
#map-wrapper {
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

.gmnoprint {
    display: none;
}

/* -----------------------------------
	Search
----------------------------------- */